	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-2">
		  <!--Sidebar content-->
			Search: <input ng-model="query">
			Sort by:
			<select ng-model="orderProp">
				<option value="id">Id</option>
				<option value="name">Name</option>
				<option value="description">Description</option>
			</select>
		</div>
		<div class="col-md-10">
		<!--Body content-->
		<h2>Table: {{tableName}} </h2>
		<ul class="references">
			<li ng-repeat="reference in references | filter:query | orderBy:orderProp">
				<a href="#/demo/reference/{{reference.id}}"> {{reference.name}}</a>
				<p>{{reference.description}}</p>
				<p><input type="submit" ng-click="deleteReference(reference.id)" value="Delete" /></p>
			</li>
		</ul>
		<p> get request succesfull? {{referencesData.success}}</p>
		<form novalidate class="simple-form">
			Name: <input type="text" ng-model="oneReference.name" /><br />
			Description: <input type="text" ng-model="oneReference.description" />
			<input type="submit" ng-click="create(oneReference)" value="Create" />
		</form>
		</br>
		<p>requestError={{requestError}}</p>
		</div>
	  </div>
	</div>

